

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0; 
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}



body{
	
	background-image: url(img/comp-photo.jpg);
	background-repeat: no-repeat;
	background-size:cover;
	
}

header{
	display: flex;
	justify-content: space-around
}

header img{
	border-radius: 50%;
	width:17%;
}
nav{
	display: flex;
	justify-content: space-evenly;
	width: 50%;
}
 
 nav a{
	color: #F0E68C;
	font-size: 2rem;
	text-decoration: none;
	
}
nav a:hover{
	color: lightcoral;

}
.salt{
	display:flex;
	flex-direction: column;
	align-items: center;
}

 h1{
    font-family:'Grenze Gotisch', cursive ;
	font-size: 500%;
	color: #F0E68C;
	text-shadow: 2px 4px 3px solid black(0, 0, 0, 0.2);
}

.salt p{
	color:white;
	font-size:150%;
	font-family:'Nunito', sans-serif; 
	padding:2%;
	text-align: center;
	text-shadow: 2px 4px 3px solid black(0, 0, 0, 0.2);
}

button{
    padding:2% 3%;
    font-size: 2rem;
    border-radius:10%;
    border:5px solid #F08080;
	transition: 1s;
	background-color: #F0E68C;
	color:#008B8B;
	font-family:'Nunito', sans-serif; 
}

button:hover{
	color:#F0E68C;
	background-color:#008B8B ;
}

@media(max-width:800px){
	h1{
		font-size: 300%;
	}
	.salt p{
		font-size: 130%;
	
	}
	
	button{
		margin-top: 3%;
	}


}

@media(max-width:500px){
	
	nav a{
		font-size: 1.2rem;
	}

	h1{
		font-size: 200%;
	}

	.salt p{
		font-size:100%;
		
		
	}

	button{
		margin-bottom: 5%;
		width: 20%, 20%;
	}
}

	


